/*!
 * ColorNova https://www.colornova.es
 */

/* Color: Pantone 233C */
.colornova-color1 {
	color:#C6007E;
}

/* Color: Pantone Cool Gray 10 C */
.colornova-color2 {
  color: #63666A;
}

.navbar-custom .navbar-brand {
  text-transform: none;
}

.nav-logo {
	padding-top: 72px;
}

header.masthead {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: linear-gradient(0deg, #C6007E 0%, #63666A 100%);
}

header.masthead .bg-circle {
  background: linear-gradient(0deg, #C6007E 0%, #63666A 100%);
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.navbar-custom .navbar-brand {
	padding-right:0;
	margin-right: 0;
}